<style>
  .eyebrow-{{ block.id }} { margin-bottom: {{ block.settings.margin_desktop }}px }
  @media (max-width: 980px) {
    .eyebrow-{{ block.id }} { margin-bottom: {{ block.settings.margin_mobile }}px }
  }
</style>

<p class="product-offer__info-eyebrow section-description eyebrow-{{ block.id }}" {{ block.shopify_attributes }}>
  {{ block.settings.eyebrow }}
</p>