{%- comment -%}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  SECTION: Product Offer
  Purpose: Display product offer section
  Last updated: February 2026
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
{%- endcomment -%}

{% liquid
  assign product = section.settings.product
  assign enable_kaching = section.settings.enable_kaching
  assign bg_color = section.settings.bg_color
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }
  .section-{{ section.id }}-bg { background-color: {{ bg_color }} }
  @media screen and (max-width: 980px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ padding_top_mobile }}px;
      padding-bottom: {{ padding_bottom_mobile }}px;
    }
  }
{%- endstyle -%}

{{ 'el-product-offer.css' | asset_url | stylesheet_tag }}

<section class="product-offer section-{{ section.id }}" id="section-{{ section.id }}">
  <div id="product-offer" class="product-offer__wrapper section-wrapper section-{{ section.id }}-padding section-{{ section.id }}-bg">
    <div class="product-offer__container section-container">
      <div class="product-offer__media">
        <div class="product-offer__media-inner">
          {% render 'el-product-media', product: product %}
        </div>
      </div>

      <div class="product-offer__info">
        <div class="product-offer__info-inner">
          <div class="product-offer__info-details">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'reviews' %}
                  {% render 'el-reviews', block: block, product: product %}
                {% when 'product-eyebrow' %}
                  {% render 'el-product-eyebrow', block: block, product: product %}
                {% when 'product-title' %}
                  {% render 'el-product-title', block: block, product: product %}
                {% when 'product-description' %}
                  {% render 'el-product-description', block: block, product: product %}
                {% when 'divider' %}
                  {% render 'el-divider', block: block, product: product %}
                {% when 'product-lists' %}
                  {% render 'el-product-lists', block: block, product: product %}
              {% endcase %}
            {% endfor %}
          </div>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'product-form' %}
                {% render 'el-product-form', block: block, product: product, enable_kaching: section.settings.enable_kaching %}
              {% when 'accordion' %}
                {% render 'el-product-accordion', block: block, product: product %}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'sticky' %}
          {% render 'el-product-sticky', block: block, product: product %}
      {% endcase %}
    {% endfor %}
  </div>
</section>

<script src="{{ "el-product-offer.js" | asset_url }}" defer></script>

{% schema %}
{
  "name": "Product Offer",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "enable_kaching",
      "label": "Enable Kaching Offers",
      "default": true,
      "info": "Disabling this only fully works on non-product pages. If a Kaching offer is set for a product, the app will automatically take over on the product page (PDP)."
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#F9F4F0"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top padding",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom padding",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top padding (Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom padding (Mobile)",
      "default": 40
    },
  ],
  "blocks": [
    {
      "type": "reviews",
      "name": "Reviews",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "reviews",
          "label": "Reviews",
          "default": "lorem ipsum"
        },
        { "type": "range", "id": "margin_desktop", "label": "Magin Bottom (Desktop)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 12 },
        { "type": "range", "id": "margin_mobile", "label": "Magin Bottom (Mobile)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 8 },
      ]
    },
    {
      "type": "product-title",
      "name": "Product Title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "leave blank to dynamically get product title"
        },
        { "type": "range", "id": "margin_desktop", "label": "Magin Bottom (Desktop)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 12 },
        { "type": "range", "id": "margin_mobile", "label": "Magin Bottom (Mobile)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 8 },
      ]
    },
    {
      "type": "product-eyebrow",
      "name": "Product Eyebrow",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "eyebrow",
          "label": "Eyebrow",
          "default": "UVORA"
        },
        { "type": "range", "id": "margin_desktop", "label": "Magin Bottom (Desktop)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 16 },
        { "type": "range", "id": "margin_mobile", "label": "Magin Bottom (Mobile)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 12 },
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#B8D514"
        },
        { "type": "range", "id": "margin_desktop", "label": "Magin Bottom (Desktop)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 16 },
        { "type": "range", "id": "margin_mobile", "label": "Magin Bottom (Mobile)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 12 },
      ]
    },
    {
      "type": "product-description",
      "name": "Product Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "info": "leave blank to dynamically get product title"
        },
        { "type": "range", "id": "margin_desktop", "label": "Magin Bottom (Desktop)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 20 },
        { "type": "range", "id": "margin_mobile", "label": "Magin Bottom (Mobile)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 20 },
      ]
    },
    {
      "type": "product-lists",
      "name": "Product Lists",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "lists",
          "label": "Lists",
          "default": "lorem \nipsum \ndolor",
          "info": "separate each item with an _enter_ key"
        },
        { "type": "range", "id": "margin_desktop", "label": "Magin Bottom (Desktop)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 35 },
        { "type": "range", "id": "margin_mobile", "label": "Magin Bottom (Mobile)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 24 },
      ]
    },
    {
      "type": "product-form",
      "name": "Product Form",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Subscription Box Settings"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Title",
          "default": "Save 25% with Automatic Refills!"
        },
        {
          "type": "text",
          "id": "sub_description",
          "label": "Description",
          "default": "Zero Commitment, Cancel Anytime"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "inline_richtext",
          "id": "btn_text",
          "label": "Button Text",
          "default": "ADD TO CART"
        },
        {
          "type": "text",
          "id": "btn_footnotes",
          "label": "Button Footnotes",
          "default": "90-day money back guarantee"
        },
        { "type": "range", "id": "margin_desktop", "label": "Magin Bottom (Desktop)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 18 },
        { "type": "range", "id": "margin_mobile", "label": "Magin Bottom (Mobile)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 20 },
      ]
    },
    {
      "type": "qty-blocks",
      "name": "Quantity Blocks",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "lorem ipsum"
        },
        {
          "type": "text",
          "id": "supply",
          "label": "Suppy",
          "default": "lorem ipsum"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag",
        },
        {
          "type": "number",
          "id": "discount_percentage",
          "label": "Discount Percentage",
          "default": 50
        },
        {
          "type": "number",
          "id": "quantity",
          "label": "Quantity",
          "default": 2
        },
        {
          "type": "product_list",
          "id": "free_products",
          "label": "Free products",
          "info": "leave blank if not needed"
        },
      ]
    },
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "lorem ipsum"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>lorem ipsum dolor</p>"
        },
        { "type": "range", "id": "margin_desktop", "label": "Magin Bottom (Desktop)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 16 },
        { "type": "range", "id": "margin_mobile", "label": "Magin Bottom (Mobile)", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 12 },
      ]
    },
    {
      "type": "sticky",
      "name": "Sticky",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Add To Cart"
        },
        {
          "type": "text",
          "id": "btn_subtext",
          "label": "Button Subtext",
          "default": "90-day money back guarantee"
        },
      ]
    },
  ],
  "presets": [
    {
      "name": "Product Offer",
      "category": "Ecomlanders"
    }
  ]
}
{% endschema %}
