{%- comment -%}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  SECTION: Review Slider
  Purpose: Display customer testimonials
  Last updated: February 2026
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
{%- endcomment -%}

{% liquid
  assign heading = section.settings.heading
  assign bg_color = section.settings.bg_color
  assign bg_img = section.settings.bg_img
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile

  assign enable_slider = section.settings.enable_slider
%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }
  .section-{{ section.id }}-bg {
    background-color: {{ bg_color }};
    {% if bg_img != blank %}
    background-image: url({{ bg_img | image_url }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    {% endif %}
  }
  @media screen and (max-width: 980px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ padding_top_mobile }}px;
      padding-bottom: {{ padding_bottom_mobile }}px;
    }
  }
{%- endstyle -%}

{{ 'el-review-slider.css' | asset_url | stylesheet_tag }}

<section class="review-slider section-{{ section.id }}" id="section-{{ section.id }}">
  <div id="reviews" class="review-slider__wrapper section-wrapper section-{{ section.id }}-padding section-{{ section.id }}-bg">
    <div class="review-slider__container section-container">
      {% render 'el-icon', icon: "trust-stars", class: "review-slider__review-star" %}
      <h2 class="review-slider__heading section-heading">{{ heading }}</h2>

      <div class="{% if enable_slider %}swiper section-slider{% endif %} review-slider__contents">
        <div class="{% if enable_slider %}swiper-wrapper{% else %}review-slider__contents-grid{% endif %}">
          {% for block in section.blocks %}
            <div class="{% if enable_slider %}swiper-slide{% else %}review-slider__item-grid{% endif %} review-slider__item">
              <div class="review-slider__item-inner">
                {% render 'el-icon', icon: "quotation" %}
                {% render 'el-icon', icon: "trust-stars", class: "review-slider__item-star" %}
                <p class="review-slider__item-review section-description">{{ block.settings.review_content }}</p>
                <div class="review-slider__item-reviewer">
                  <p class="review-slider__reviewer-info section-description">
                    <img src="{{ block.settings.reviewer_img | image_url }}" width="100%" height="auto" alt="{{ block.settings.reviewer_img.alt | default: 'reviewer-img' }}" fetchpriority="low" loading="lazy" />
                    <span>{{ block.settings.reviewer }}</span>
                  </p>
                  <p class="review-slider__verify section-description el-svg">
                    {% render 'el-icon', icon: "check" %}
                    <span>Verified Buyer</span>
                  </p>
                </div>
                {% assign tags = block.settings.tags | strip | newline_to_br | split: '<br />' %}
                <p class="review-slider__item-tags section-description">
                  {% for tag in tags %}
                    <span>{{ tag }}</span>
                  {% endfor %}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if enable_slider %}
          <div class="review-slider__buttons">
            <div class="swiper-button-prev-review swiper-btn-review swiper-btn">
              {% render 'el-icon', icon: 'circle-arrow-left' %}
            </div>
            <div class="swiper-pagination-col"></div>
            <div class="swiper-button-next-review swiper-btn-review swiper-btn">
              {% render 'el-icon', icon: 'circle-arrow-right' %}
            </div>
          </div>
        {% else %}
          <a class="review-slider__grid-button section-description" href="#">Read More Reviews</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% if enable_slider %}
  <script src="{{ "el-review-slider.js" | asset_url }}" defer></script>
{% else %}
  <script src="{{ "el-review-grid.js" | asset_url }}" defer></script>
{% endif %}

{% schema %}
{
  "name": "Review Slider",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "lorem ipsum"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable Slider?",
      "default": true,
      "info": "setting to false will enable grid display"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#F4F3E8"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image",
      "info": "leave blank if not needed"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Top padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Bottom padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top padding (Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom padding (Mobile)",
      "default": 40
    },
  ],
  "blocks": [
    {
      "type": "review-item",
      "name": "Review Item",
      "settings": [
        {
          "type": "textarea",
          "id": "review_content",
          "label": "Review Content",
          "default": "lorem ipsum dolor"
        },
        {
          "type": "image_picker",
          "id": "reviewer_img",
          "label": "Reviewer Image",
        },
        {
          "type": "text",
          "id": "reviewer",
          "label": "Reviewer",
          "default": "John Doe"
        },
        {
          "type": "textarea",
          "id": "tags",
          "label": "Tags",
          "default": "lorem \nipsum",
          "info": "separate each item with an enter key"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review Slider",
      "category": "Ecomlanders"
    }
  ]
}
{% endschema %}